In [1]:
x=7

In [28]:
x=x+1

In [3]:
type(x)

int

In [4]:
a=5

In [5]:
type(a)

int

In [6]:
float(a)

5.0

In [9]:
tuple
list
dict
set

set

In [10]:
print("fdgshd")
print("asgadfg")

fdgshd
asgadfg

In [12]:
a=4
a
b=8
b

8

In [13]:
tple=(12,"Jack",50.4,(3,2),'test')

In [14]:
type(tple)

tuple

In [16]:
tple[1]="rose"

TypeError: 'tuple' object does not support item assignment

In [17]:
tple[-1]

'test'

In [18]:
#slicing (include frst, exclude last)

In [27]:
tple[:3]

(12, 'Jack', 50.4)

In [29]:
frst_list=['asdg','fddgasg',45,45.3]

In [30]:
frst_list

['asdg', 'fddgasg', 45, 45.3]

In [41]:
secnd_list=list(['dhgh',4564,78,[45,56,23,841]])

In [49]:
thr_lst=list(['jfhgj',45])

In [46]:
thr_lst[0]

'jfhgj'

In [44]:
secnd_list

['dhgh', 4564, 78, [45, 56, 23, 841]]

In [50]:
secnd_list[-1][2]

23

In [51]:
frst_list.append(45)

In [52]:
frst_list

['asdg', 'fddgasg', 45, 45.3, 45]

In [53]:
frst_list.remove(45)

In [54]:
frst_list

['asdg', 'fddgasg', 45.3, 45]

In [55]:
frst_list.pop(1)

'fddgasg'

In [56]:
frst_list

['asdg', 45.3, 45]

In [57]:
frst_list.insert(1,'smith')

In [61]:
frst_list[0:-2]

['asdg', 'smith']

In [67]:
frst_dict={'john':9847172204,'noushi':987456325,'id':[34,56]}

In [68]:
frst_dict

{'john': 9847172204, 'noushi': 987456325, 'id': [34, 56]}

In [69]:
frst_dict.keys()

dict_keys(['john', 'noushi', 'id'])

In [70]:
frst_dict['john']

9847172204

In [71]:
frst_dict.update({'id':[32,55]})

In [72]:
frst_dict

{'john': 9847172204, 'noushi': 987456325, 'id': [32, 55]}

In [74]:
del frst_dict['id']

In [75]:
frst_dict

{'john': 9847172204, 'noushi': 987456325}

In [84]:
frst_set=set(['Noushi','ramu','ratha','achu','Noushi'])

In [85]:
frst_set

{'Noushi', 'achu', 'ramu', 'ratha'}

In [86]:
frst_list

['asdg', 'smith', 45.3, 45]

In [89]:
445 in frst_list

False

In [90]:
name="noushina"

In [91]:
'o' in name

True

In [92]:
1+2

3

In [95]:
name='noushi'*3

In [96]:
name

'noushinoushinoushi'

In [97]:
age=[2,3,5,9]*3

In [98]:
age

[2, 3, 5, 9, 2, 3, 5, 9, 2, 3, 5, 9]

In [103]:
def <name>(arg 1......):
    <statement>
    return <value>

SyntaxError: invalid syntax (<ipython-input-103-17d2a04a7872>, line 1)

In [104]:
sorted(age)

[2, 2, 2, 3, 3, 3, 5, 5, 5, 9, 9, 9]

In [105]:
j=list(frst_set)

In [106]:
j

['ratha', 'ramu', 'Noushi', 'achu']

In [107]:
for position,name in enumerate(j):
    print(position,name)

0 ratha
1 ramu
2 Noushi
3 achu

In [113]:
k=list(reversed(j))

In [114]:
k

['achu', 'Noushi', 'ramu', 'ratha']

In [115]:
count=['one','two','three','four']

In [139]:
st=list(zip(k,count))

In [140]:
print(st)

[('achu', 'one'), ('Noushi', 'two'), ('ramu', 'three'), ('ratha', 'four')]

In [141]:
type(st[1])

tuple

In [142]:
age=21

# Control Flow